<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog site</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}" />
  {% block htmlhead %} {% endblock htmlhead %}
</head>

<body>
  <header>
    <div class="login-out">

      {%if request.user.is_authenticated %}

      <span>Hi {{ request.user.username | title }} |</span>
      <a href="{% url 'users:logout' %}">Logout</a></br>

      {%else%}
      <a href="{% url 'users:login' %}">Login | </a>
      <a href="{% url 'users:signup' %}">Register</a>
      {%endif%}
    </div>
    <div class="read-write">
    {% if request.user.is_authenticated and request.user.author %}
    
      <a href="#">Add a post</a>
      {%else%}
      <a href="{% url 'blog:create_author' %}">Become an author</a>
  
      {%endif%}
    </div>


  </header>
  <main>
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %} {%block content%} {%endblock content%}
  </main>
</body>

</html>